#traybar {
background-color:black;
width:98%;
margin:0 auto;
margin-top:4pt;
height:24pt;
display:block;
-webkit-border-radius:3pt;
-webkit-user-select:none;
padding:2pt 3pt 2pt 3pt;
box-shadow: 2pt 2pt 2pt #888888;
}

.trayicon{
height:24pt;
width: 24pt;
background-color:none;
display:block;
margin: 0pt 3pt 0pt 0pt;
float:left;
display:block;
background-repeat:no-repeat;
background-size:100% 100%;
-webkit-border-radius:2pt;
-webkit-user-select:none;
}

.trayicon:active{
background-color:#777777;
}

#buttonsBar{
width:100%;
height:39pt;
position:absolute;
bottom:10pt;
right:0pt;
}

.bottomButton {
float:right;
color:#fff;
padding-top:3pt;
text-align:center;
font-size:9.5pt;
-webkit-border-radius:3pt;
height:17pt;
margin-right:2.5%;
margin-bottom:5pt;
width:30%;
line-height:15pt;
box-shadow: 2pt 2pt 2pt #888888;
}

.black{
background-color:black;
border: 1px solid black;
}

.black:active{
background-color:#595959;
border: 1px solid #595959;
}

.gray{
background-color:#b3b3b3;
border: 1px solid #b3b3b3;
}

.exitButton {
background-image:url('../icons/exit.png');
background-repeat:no-repeat;
background-size:13pt 13pt;
background-position: 80% 5pt;
}

#alert{
position:absolute;
background-color:white;
top:0;
font-size:10pt;
display:none;
width:98%;
text-align:center;
padding:9pt 0pt;
outline:4pt solid white;

}

::-webkit-scrollbar {
height:10pt;
width: 10pt;
}

 
::-webkit-scrollbar-track {
box-shadow: inset 0 0 4pt rgba(0,0,0,0.83); 
border-radius: 8pt;

}
 
::-webkit-scrollbar-thumb {
border-radius: 8pt;
box-shadow: inset 0 0 4pt rgba(0,0,0,0.5);
background-color:black;
}

::-webkit-scrollbar-thumb:active {
background-color:#595959;
}
