body{
padding-top:5pt;

}


.bottomButtonContainer{
position:absolute;
width:100%;
bottom:3pt;
}

.bottomButton {
margin:5pt auto;
background-color:black;
color:#fff;
padding-top:3pt;
text-align:center;
font-size:9.5pt;
-webkit-border-radius:3pt;
height:17pt;
width:30%;
line-height:15pt;
box-shadow: 2pt 2pt 2pt #888888;
}

.bottomButton:active {
background-color:#595959;
border: 1px solid #595959;
}


.button:active{
background-color:black;
color:white;
}

::-webkit-scrollbar {
height:10pt;
width: 10pt;
}


::-webkit-scrollbar:horizontal {
display:none;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 4pt rgba(0,0,0,0.83); 
border-radius: 8pt;

}
 
::-webkit-scrollbar-thumb {
border-radius: 8pt;
box-shadow: inset 0 0 4pt rgba(0,0,0,0.5);
background-color:black;
}

::-webkit-scrollbar-thumb:active {
background-color:#595959;
}

