.scrollableText{
margin:0 auto;
overflow:scroll;
height:86%;
width:90%;
}

pre{
font-family: Futura;
font-weight: 500;
font-size:9pt;
}

.bottomButton {
margin:12pt auto 0pt auto;
background-color:black;
color:#fff;
padding-top:3pt;
text-align:center;
font-size:9.5pt;
-webkit-border-radius:3pt;
height:17pt;
width:30%;
line-height:15pt;
box-shadow: 2pt 2pt 2pt #888888;
}

::-webkit-scrollbar {
    height:8pt;
    width: 8pt;
}

::-webkit-scrollbar:horizontal {
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4pt rgba(0,0,0,0.83); 
    border-radius: 8pt;

}
 
::-webkit-scrollbar-thumb {
    border-radius: 8pt;
    -webkit-box-shadow: inset 0 0 4pt rgba(0,0,0,0.5);
background-color:black;
}

